<!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>Ride Sharing: <%= title %></h1>
    <h2>Add users form</h2>
    <div class="row">
      <div class="col-sm-6">
    		<form id="user_form" action="admin" method="post">
          <div class="form-group">
            <label for="faculty">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
    				<label for="email">Email</label>
    				<input type="text" class="form-control" id="email" name="email" placeholder="Enter your email address">
    			</div>
    			<div class="form-group">
    				<label for="password">Password</label>
    				<input type="text" class="form-control" id="password" name="password" placeholder="Enter your password">
            <small id="matricHelp" class="form-text text-muted">Do not share your password with anyone else.</small>
    			</div>
          <div class="form-group">
    				<label for="phoneNumber">Phone Number:</label>
    				<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter your handphone number">
    			</div>
    			<button type="submit" class="btn btn-primary">Submit</button>
    		</form>
      </div>
      <div class="col-sm-6">
        <h2> Here are a few modals to view different types of data: </h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#usersListModal">Show a list of users</button>
        <a class="btn btn-primary" href="/topdrivers">Show top drivers list</a>
      </div>
    </div>
    <br>
    <!-- show a list of users -->
    <div class="modal fade" id="usersListModal" tabindex="-1" role="dialog" aria-labelledby="usersListLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="usersListLabel">A list of all users</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <table class="table modal-body">
      			<thead>
      				<tr>
      					<th scope="col">User Name</th>
                <th scope="col">User Email</th>
                <th scope="col">User Password</th>
      					<th scope="col">User Phone Number</th>
      				</tr>
      			</thead>
      			<tbody>
      				<% for(var i=0; i<data.length; i++) { %>
      				<tr>
                <td><%= data[i].name%></td>
                <td><%= data[i].email%></td>
      					<td><%= data[i].password%></td>
      					<td><%= data[i].phonenum%></td>
                <td>
                  <form action="deleteuser" method="post">
                    <button type="submit" name="email" value="<%=data[i].email%>" class="btn btn-danger">Delete</button>
                  </form>
                </td>
      				</tr>
      				<% } %>
      			</tbody>
      		</table>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
  </footer>
</html>
