<!DOCTYPE html>
<html>
  <head>
    <%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>Ride Sharing <%= title %> Page</h1>
    <p>Here are all the bids you made</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Pickup location</th>
          <th scope="col">Drop off location</th>
          <th scope="col">Pickup time</th>
          <th scope="col">Your Bid</th>
          <th scope="col">Bid Accepted?</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<data.length; i++) { %>
          <tr>
            <td><%= data[i].origin%></td>
            <td><%= data[i].destination%></td>
            <td><%= data[i].starttime%></td>
            <td><%= data[i].amount%></td>
            <td><%= data[i].isconfirmed%></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
    <script src="/javascripts/userValidationScript.js"></script>
    <script>
      // function to prevent page from doing anything if not filled to standard
      (function() {
        window.addEventListener('load', function() {
          // form is located by id and validation calls the form
          var forms = [document.getElementById('user_form')];
          var validation = Array.prototype.filter.call(forms, function(form) {
            // upon submit, "check" function is called in userValidationScript.js
            form.addEventListener('submit', check, true);
          });
        }, false);
      })();
    </script>
  </footer>
</html>
