<!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>Ride Sharing: <%= title %></h1>
    <h2>Add users form</h2>
		<form id="user_form" action="forms" role="form" method="post">
      <div class="form-group">
        <label for="faculty">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
      </div>
      <div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" name="email" placeholder="Enter your email address">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="text" class="form-control" id="password" name="password" placeholder="Enter your password">
        <small id="matricHelp" class="form-text text-muted">Do not share your password with anyone else.</small>
			</div>
      <div class="form-group">
				<label for="phoneNumber">Phone Number:</label>
				<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter your handphone number">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
    <br>
    <h2>A list of all users</h2>
    <table class="table">
			<thead>
				<tr>
					<th scope="col">User Name</th>
          <th scope="col">User Email</th>
          <th scope="col">User Password</th>
					<th scope="col">User Phone Number</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<data.length; i++) { %>
				<tr>
          <td><%= data[i].name%></td>
          <td><%= data[i].email%></td>
					<td><%= data[i].password%></td>
					<td><%= data[i].phonenum%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
    <script src="/javascripts/userValidationScript.js"></script>
    <script>
      // function to prevent page from doing anything if not filled to standard
      (function() {
        window.addEventListener('load', function() {
          // form is located by id and validation calls the form
          var forms = [document.getElementById('user_form')];
          var validation = Array.prototype.filter.call(forms, function(form) {
            // upon submit, "check" function is called in userValidationScript.js
            form.addEventListener('submit', check, true);
          });
        }, false);
      })();
    </script>
  </footer>
</html>
