 <!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <% if (user) { %>
      <%- include('partial/nav', {title: title, user: user}); %>
      <div class="text-center">
        <h1>Ride Sharing</h1>
        <h2><span class="fa fa-user"></span>Welcome <%= user.name %> to Ride Sharing Site</h2>
      </div>
      <h3>You have successfully logged in as <h3>
      <div class="text-center" style="text-decoration: underline; color: maroon;">
        <%if(user.ispassenger){%>Passenger<%}%>
        <br><%if(user.isdriver){%>Driver<%}%>
        <br><%if(user.isadmin){%>Admin<%}%>
      </div>
      <br>
      <h3> Your user details are as follows: </h3>
      <div style="font-size:20px;">
        <strong>name</strong>: <%= user.name %><br>
        <strong>email</strong>: <%= user.email %><br>
        <strong>password</strong>: <%= user.password %>
      </div>
      <div style="margin-top: 80px; font-size:30px">
        <% if (!user.ispassenger && !user.isadmin) { %>
          <form action="/passenger" class="form-inline" method="post">
            You can register as a passenger
            <button style="margin-left: 10px;" type="submit" class="btn btn-success btn-lg">here</button>
          </form>
        <% } %>
        <br>
        <% if (!user.driver && !user.isadmin) { %>
          You can sign up as a driver
          <a style="margin-left: 10px;" href="/driver" class="btn btn-primary btn-lg">here</a>
        <% } %>
      </div>
      <br>
    <% } else { %>
      <div class="text-center">
        <h1>Ride Sharing Starter Guide</h1>
        <p>Welcome to Ride Sharing Home Page</p>
      </div>
      <div class="container">
        <div class="jumbotron text-center">
          <h2><span class="fa fa-lock"></span> User Authentication</h2>
          <p>Login or Register with:</p>
          <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
          <a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Sign Up</a>
        </div>
      </div>
    <% } %>
    <p>By: CS2102 Group 39</p>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
  </footer>
</html>
