 <!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <% if (user) { %>
      <%- include('partial/nav', {title: title, user: user}); %>
      <div class="text-center">
        <h1>Ride Sharing</h1>
        <h2><span class="fa fa-user"></span>Welcome <%= user.name %> to Ride Sharing Site</h2>
      </div>
      <h2>You have successfully logged in as
        <span style="text-decoration: underline;">
        <%if(user.ispassenger){%> Passenger <%}%><%if(user.isdriver){%> Driver <%}%><%if(user.isadmin){%>Admin<%}%>
        </span>
      </h2>
      <br>
      <br>
      <h3> Your user details are as follows: </h3>
      <div style="font-size:22px;">
          <span class="fa fa-user"></span><strong>name</strong>: <%= user.name %><br>
          <span class="fa fa-envelope"></span><strong>email</strong>: <%= user.email %><br>
          <span class="fa fa-key"></span><strong>password</strong>: <%= user.password %>
      </div>
      <div style="margin-top: 100px; font-size:30px">
        You can register as a passenger here:
        <form action="/passenger" method="post">
          <button type="submit" class="btn btn-success btn-lg">Register</button>
        </form>
        <br>
        You can also sign up as a
        <a href="/driver" class="btn btn-primary btn-lg">Driver</a>
        here.
      </div>
      <br>
    <% } else { %>
      <div class="text-center">
        <h1>Ride Sharing Starter Guide</h1>
        <p>Welcome to Ride Sharing Home Page</p>
      </div>
      <div class="container">
        <div class="jumbotron text-center">
          <h2><span class="fa fa-lock"></span> User Authentication</h2>
          <p>Login or Register with:</p>
          <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
          <a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Sign Up</a>
        </div>
      </div>
    <% } %>
    <p>By: CS2102 Group 39</p>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
  </footer>
</html>
