 <!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
    <style>
        p     { font-size: 22px; }
        span  { padding-right: 15px; }
    </style>
  </head>
  <body>
    <% if (user) { %>
      <%- include('partial/nav', {title: title, user: user}); %>
      <div class="text-center">
        <h1>Ride Sharing</h1>
        <h2><span class="fa fa-user"></span>Welcome <%= user.name %> to Ride Sharing Site</h2>
      </div>
      <h3 class="text-center" style="margin-top:30px; color:green;">You have successfully logged in as <h3>
      <div class="text-center" style="text-decoration: underline; color: maroon; font-size: 32px">
        <%if(user.ispassenger){%>Passenger<br><%}%>
        <%if(user.isdriver){%>Driver<br><%}%>
        <%if(user.isadmin){%>Admin<%}%>
      </div>
      <br>
      <h3 style="margin-left: 150px;"> Your user details are as follows: </h3>
      <div style="font-size:22px; margin-left: 150px;">
        <span class="fa fa-user"></span><strong>Name</strong>: <%= user.name %><br>
        <span class="fa fa-envelope"></span><strong>Email</strong>: <%= user.email %><br>
        <span class="fa fa-key"></span><strong>Password</strong>: <%= user.password %><br>
        <span class="fa fa-phone"></span><strong>Phone</strong>: <%= user.phonenum %><br>
        <span class="fa fa-shield"></span><strong>Balance</strong>: <%= user.balance %><br>
        <br>
        <h3> You can top up your balance here </h3>
        <form action="/topup" role="form" method="post">
          <input type="hidden" name="email" value="<%= user.email %>">
          <input type="text"  size="15" name="amount" placeholder="$0.00">
          <button type="submit" class="btn btn-success" name="topup">Top Up</button>
        </form>
      </div>
      <div style="margin-top: 80px; font-size:30px">
        <% if (!user.ispassenger && !user.isadmin) { %>
          <form action="/passenger" class="form-inline" method="post">
            You can register as a passenger
            <button style="margin-left: 10px;" type="submit" class="btn btn-success btn-lg">here</button>
          </form>
        <% } %>
        <br>
        <% if (!user.isdriver && !user.isadmin) { %>
          You can sign up as a driver
          <a style="margin-left: 10px;" href="/driver" class="btn btn-primary btn-lg">here</a>
        <% } %>
      </div>
      <br>
    <% } else { %>
      <div class="text-center">
        <h1>Ride Sharing Starter Guide</h1>
        <p>Welcome to Ride Sharing Home Page</p>
      </div>
      <div class="container">
        <div class="jumbotron text-center">
          <h2><span class="fa fa-lock"></span> User Authentication</h2>
          <p>Login or Register with:</p>
          <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
          <a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Sign Up</a>
        </div>
      </div>
    <% } %>
    <p>By: CS2102 Group 39</p>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
  </footer>
</html>
