<!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: 'title'}); %>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>
            <p>
              <strong>name</strong>: <%= user.name %><br>
              <strong>email</strong>: <%= user.email %><br>
              <strong>password</strong>: <%= user.password %>
            </p>
          </div>
        </div>
      </div>
      <a href="/login" class="btn btn-primary btn-sm">Logout</a>
    </div>
  </body>
</html>
