<!DOCTYPE html>
<html>
  <head>
    <%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>A list of top drivers with completed trips</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone number</th>
          <th scope="col">Completed trips</th>
          <th scope="col">Reward?</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<data.length; i++) { %>
          <tr>
            <td><%= data[i].name%></td>
            <td><%= data[i].email%></td>
            <td><%= data[i].phonenum%></td>
            <td style="text-align: center;"><%= data[i].numtrips %></td>
            <td>
              <form action="/topdrivers" role="form" method="post">
                <input type="hidden" name="email" value="<%= data[i].email%>">
                <input type="submit" name="reward" value="reward">
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
  </footer>
</html>
