<!DOCTYPE html>
<html>
  <head>
    <%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>A list of top passengers with amount spent</h1>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Total Spent</th>
          <th scope="col">Give PromoCode?</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<data.length; i++) { %>
          <tr>
            <td><%= data[i].name%></td>
            <td><%= data[i].email%></td>
            <td><%= data[i].phonenum%></td>
            <td>$<%= data[i].totalpaid%></td>
            <td>
              <form action="/toppassengers" role="form" method="post">
                <input type="hidden" name="email" value="<%= data[i].email%>">
                <input type="text" class="form-control" size="15" name="promocode" placeholder="e.g. 10OFF">
                <input type="submit" class="btn btn-success" value="Give Code">
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
  </footer>
</html>
