<!DOCTYPE html>
<html>
  <head>
    <%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>View bids on my trips</h1>
    <p>Here are the bids </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Pickup location</th>
          <th scope="col">Drop off location</th>
          <th scope="col">Pickup time</th>
          <th scope="col">Trip Completed?</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<data.length; i++) { %>
          <tr>
            <td><%= data[i].origin%></td>
            <td><%= data[i].destination%></td>
            <td><%= data[i].starttime%></td>
            <% if (data[i].iscomplete == false){ %>
                <td><form id="bid_form<%= i %>" action="tripcomplete" role="form" method="post"><input type="hidden" id="hiddenTid" name="tidHidden" value="<%= data[i].tid%>"><input type="submit" name="tcomplete" value="Indicate Completed"></form></td>
            <% } else { %>
                <td>Completed</td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
    <script src="/javascripts/userValidationScript.js"></script>
    <script>
      // function to prevent page from doing anything if not filled to standard
      (function() {
        window.addEventListener('load', function() {
          // form is located by id and validation calls the form
          var forms = [document.getElementById('user_form')];
          var validation = Array.prototype.filter.call(forms, function(form) {
            // upon submit, "check" function is called in userValidationScript.js
            form.addEventListener('submit', check, true);
          });
        }, false);
      })();
    </script>
  </footer>
</html>
