<!DOCTYPE html>
<html>
  <head>
    <%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>View all trips that you have created</h1>
    <p>Here are your trips </p>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Pickup Location</th>
          <th scope="col">Drop-off Location</th>
          <th scope="col">Pickup Date</th>
          <th scope="col">Pickup Time</th>
          <th scope="col">Trip Completed?</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<data.length; i++) { %>
          <tr>
            <td><%= data[i].origin%></td>
            <td><%= data[i].destination%></td>
            <td>
              <% var date = (data[i].starttime.toString()).slice(0, 15) %>
              <%= date %>
            </td>
            <td>
              <% var time = (data[i].starttime.toString()).slice(16, 24) %>
              <%= time %>
            </td>
            <% if (data[i].iscomplete == false){ %>
              <td>
                <form id="bid_form<%= i %>" action="tripcomplete" role="form" method="post">
                  <input type="hidden" id="hiddenTid" name="tidHidden" value="<%= data[i].tid%>">
                  <input type="submit" class="btn btn-success" name="tcomplete" value="Indicate Completed">
                </form>
              </td>
            <% } else { %>
                <td>Completed</td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
    <script src="/javascripts/userValidationScript.js"></script>
    <script>
      // function to prevent page from doing anything if not filled to standard
      (function() {
        window.addEventListener('load', function() {
          // form is located by id and validation calls the form
          var forms = [document.getElementById('user_form')];
          var validation = Array.prototype.filter.call(forms, function(form) {
            // upon submit, "check" function is called in userValidationScript.js
            form.addEventListener('submit', check, true);
          });
        }, false);
      })();
    </script>
  </footer>
</html>
