<!DOCTYPE html>
<html>
  <head>
    <%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>Ride Sharing <%= title %> Page</h1>
    <h4>Your wallet amount: $<%= user.balance %></h4>
    <p>Here are the list of available trips</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Pickup location</th>
          <th scope="col">Drop off location</th>
          <th scope="col">Pickup time</th>
          <th scope="col">Minimum bid</th>
          <th scope="col">Seats available</th>
          <th scope="col">Promo Code</th>
          <th scope="col">Bid</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<data.length; i++) { %>
          <tr>
            <td><%= data[i].origin%></td>
            <td><%= data[i].destination%></td>
            <td><%= data[i].starttime%></td>
            <td><%= data[i].minbid%></td>
            <td><%= data[i].numpassengers%></td>
            <form id="bid_form<%= i %>" action="trips" role="form" method="post">
            <td><input type="text" class="form-control" id="promo" name="promo" placeholder="Enter Promocode if any">
            <td><input type="text" class="form-control" id="bid" name="bidamount" placeholder="0.00"><input type="hidden" id="hiddenBid" name="tidHidden" value="<%= data[i].tid%>"><input type="submit" name="bidsubmit" value="Bid"></td>
            </form>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
    <script src="/javascripts/userValidationScript.js"></script>
    <script>
      // function to prevent page from doing anything if not filled to standard
      (function() {
        window.addEventListener('load', function() {
          // form is located by id and validation calls the form
          var forms = [document.getElementById('user_form')];
          var validation = Array.prototype.filter.call(forms, function(form) {
            // upon submit, "check" function is called in userValidationScript.js
            form.addEventListener('submit', check, true);
          });
        }, false);
      })();
    </script>
  </footer>
</html>
